h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.redClass{
  color: red
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.del-a {
  cursor: pointer;
  color: #007bff !important;
  text-decoration: underline;
}
.section-body {
  margin: 50px 0;
}