<h1>List employees</h1>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Status</td>
            <td>CreatedAt</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.status}}</td>
            <td>{{employee.createdAt | date}}</td>
            <td>
                <a [routerLink]="['/employee-detail',employee.id]">Show Detail</a> |
                <a [routerLink]="['/employee-edit',employee.id]">Edit</a> |
                <a (click)="delEmployee(employee.id)" class="del-a">Delete</a>
            </td>
        </tr>
    </tbody>
</table>